.page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
}
.container{

    display: grid;
    grid-template-rows: 100px 400px 100px;
    width: 500px;
}
.numbers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-around;
}
.display{
    display: flex;
    justify-content: flex-end;
    background-color: lightblue;
    align-items: center;
    padding-right: 50px;
}
.symbols{
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.symbols button{

    height: 100px;
    width: 170px;
}
.symbols .pressed{
    background-color: yellow;
}
.equals{
    background-color:white;
    height: 100px;
}