.page{
    padding: 0 0 500px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 187, 194);
    
}
.container{
    display: grid;
    font-size: 26px;
    grid-template-rows: 50px 200px 50px 50px 50px;
    width: 500px;
    border: 5px solid grey;
    border-radius: 10px;
}
.numbers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 0.5fr);
    justify-content: space-around;
}
.zero{
    grid-column: 2/2;
}
.display{
    display: flex;
    justify-content: flex-end;
    background-color: lightblue;
    align-items: center;
    padding-right: 50px;
}
.symbols{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.symbols button{
    background-color: grey;
    height: 50px;
    width: 50px;
    font-size: 26px;
}
.symbols .pressed{
    background-color: yellow;
}
